html, body
{
  min-height: 100%;
  height: 100%;
  background-color: rgb(242, 222, 187);
}

*
{
  margin: 0 auto;
  padding: 0 !important;
  max-width: 100% !important;
}

/* Fonts */

@font-face
{
    font-family: opensans;
    src: url('../fonts/opensans/OpenSans-Light.ttf');
}

@font-face
{
    font-family: opensans-b;
    src: url('../fonts/opensans/OpenSans-SemiBold.ttf');
}

@font-face
{
    font-family: tf2build;
    src: url('../fonts/tf2build.ttf');
}


/* Main Styles */

span
{
  font-size: 3.5em;
  font-family: tf2build;
  color: rgb(37, 35, 33);
  display: block;
  position: absolute;
  top: 20px;
  left: 30px;
}

p
{
  font-size: 1.5em;
  font-family: tf2build;
  color: rgb(37, 35, 33);
  display: block;
  position: absolute;
  top: 60px;
  left: 30px;
}
