/* menu css init */
.sitenav
{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.innernav
{
  height: 50px;
  width: 1200px !important;
  position: relative;
  border-radius: 0 0 6px 6px;
}

.navsignin
{
  position: absolute;
  right: 0;
  height: 40px;
  border: 5px solid white;
  font-size: 1.1em;
  font-family: montheavy;
  text-align: center;
  color: white;
  line-height: 33px;
  margin-top: 10px;
  width: auto;
  padding: 0 15px !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.navsignin:hover
{
  cursor: pointer;
}

.navlogo
{
  position: absolute;
  left: 0;
}

.navlogo img
{
  height: 36px;
  margin-top: 12px;
  width: auto;
}
