/* menu css init */
.sitenav
{
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.innernav
{
  height: 50px;
  width: 1200px !important;
  position: relative;
}

.navbg
{
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  z-index: -1;
  display: none;
}

.navuser img
{
  height: 40px;
  width: auto;
  margin-top: 10px;
  border-radius: 50%;
  position: absolute;
  right: 150px;
  border: 5px solid white;
}

.navuser img:hover
{
  cursor: pointer;
}

.navuser .drop
{
  background-color: white;
  width: 180px;
  border-radius: 6px 0px 6px 6px;
  position: absolute;
  right: 150px;
  top: 70px;
  display: none;
  padding-bottom: 20px !important;
}

.navuser .drop h4
{
  font-family: montheavy;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  padding: 20px 10px 0px 10px !important;
}

.navuser .drop a
{
  font-family: opensans;
  font-size: 1em;
  text-align: left;
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 6px 0px 6px 15px !important;
}

.navsignin
{
  position: absolute;
  right: 0;
  height: 40px;
  border: 5px solid white;
  font-size: 1.1em;
  font-family: montheavy;
  text-align: center;
  color: white;
  line-height: 33px;
  margin-top: 10px;
  width: auto;
  padding: 0 15px !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.navsignin:hover
{
  cursor: pointer;
}

.navlogo
{
  position: absolute;
  left: 0;
}

.navlogo img
{
  height: 36px;
  margin-top: 12px;
  width: auto;
}

.triangle
{
  position: absolute;
  z-index: 101;
  right: 148px;
  top: 50px;
  width: 0;
  height: 0;
  transform: rotate(-135deg);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  display: none;
}
