/* MEDIA QUERIES */

@media (min-width: 1280px) and (max-width: 1440px)
{

}

@media (min-width: 990px) and (max-width: 1280px)
{
  div.quicklinks
  {
    width: 768px;
  }
}

@media (max-width: 990px)
{
  div.main .home-item
  {
    width: calc(100% - 50px);
    margin: 15px 25px;
  }

  h1.site-title
  {
    margin-top: 30px;
    font-size: 2.2em;
  }
}


/* END MEDIA QUERIES */
