/* MEDIA QUERIES */

@media (min-width: 1200px) and (max-width: 1440px)
{
  .chains
  {
    left: 155px;
  }

  #sklls1c, #sklls2c, #sklls3c
  {
    top: 100px;
  }

  #prjct1c, #prjct2c, #prjct3c
  {
    top: 120px;
  }

  #prjct1c img, #prjct2c img, #prjct3c img
  {
    width: 70%;
    margin-top: 0px;
  }

  #lbm4c .section, #dsply4c .section, #lg4c .section
  {
    height: 200px;
  }

  #lbm4c .section .price-info p, #dsply4c .section .price-info p, #lg4c .section .price-info p
  {
    font-size: 1.4em;
  }

  .display-carousel
  {
    top: 100px;
  }

  .container-one .links div
  {
    font-size: 2.4em;
    line-height: 1.2em;
    height: 1.2em;
    padding-left: 100px !important;
  }

  .container-one .item
  {
    width: 200px !important;
    height: 200px !important;
  }

  .nums
  {
    bottom: 20px;
    left: calc(50% - 125px);
    width: 250px;
  }

  .nums a
  {
    height: 50px;
    width: 50px;
  }

  #abt1c .textarea p
  {
    font-size: 1.6em;
  }

  .container-two .section-box img
  {
    width: 130px;
  }

  #abt2c .tabular table td, #abt3c .tabular table td
  {
    font-size: 1.6em;
    height: 50px;
    line-height: 50px;
  }

  .container-two .linkbox
  {
    margin-top: 160px;
  }

  a.link
  {
    font-size: 1.6em;
    line-height: 30px;
  }

  .linkbox-title
  {
    font-size: 4em;
  }

  .container-three .linkbox, .container-four .linkbox
  {
    margin-top:90px;
  }

  .container-three .section-box div.item
  {
    width: 250px !important;
    height: 350px;
  }

  #dsply1c div.item, #dsply2c div.item, #dsply3c div.item
  {
    width: auto !important;
    height: 300px;
    border-right: 1px solid rgb(17, 17, 17);
  }

  #dsply1c div.item img, #dsply2c div.item img, #dsply3c div.item img
  {
    height: 300px !important;
  }

  .overlay
  {
    width: 250px !important;
    height: 250px !important;
    font-size: 1.8em;
    padding-top: calc(50% - 36px) !important;
  }

  .album-carousel
  {
    top: 100px;
  }

  a.ttl, span.ttl
  {
    font-size: 2em;
  }

  .subttl
  {
    font-size: 1.4em !important;
  }

  .goto, .toEdu
  {
    bottom: -80px;
  }

  .design-title
  {
    font-size: 1.6em;
    height: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .design-subtitle
  {
    font-size: 1.2em;
    height: 40px;
    line-height: 20px;
  }

  .overlay a
  {
    height: 36px;
    line-height: 36px;
  }

  .linktitle
  {
    top: 15px;
    font-size: 3em;
  }

  .container-three .section-links,
  .container-four .section-links,
  .container-five .section-links
  {
    bottom: 10px;
  }

  .container-three .section-links a,
  .container-four .section-links a,
  .container-five .section-links a
  {
    font-size: 1.8em;
  }

  .container-three .section-links p,
  .container-four .section-links p,
  .container-five .section-links p
  {
    font-size: 1.8em;
  }

  #abt2c img
  {
    top: 110px;
    right: 30px;
    height: 120px;
  }

  #abt2c .textarea
  {
    top: 240px;
    right: 30px;
  }

  a.ttl
  {
    font-size: 1.6em;
  }

  .subttl
  {
    font-size: 1.2em;
  }

  .lightbox img
  {
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
  }

  .lightbox span.cls
  {
    font-size: 1.8em;
  }

  #twttrc, #dscrdc, #otherc
  {
    position: absolute;
    right: 30px;
    top: 120px;
    font-size: 1.4em !important;
  }

  .container-one .artpiece
  {
    width: 750px;
  }

  #name1{left: calc(50% - 155px); bottom: 0px;}
  #name2{left: calc(50% - 107px); bottom: 0px;}
  #name3{left: calc(50% - 62px); bottom: 0px;}
  #name4{left: calc(50% - -4px); bottom: 0px;}
  #name5{left: calc(50% - -30px); bottom: 0px;}

  #abt1c .textarea, #twttrc
  {
    top: 100px;
  }

  .goto, .toEdu
  {
    bottom: -80px;
    font-size: 1.5em;
  }
}

@media (min-width: 990px) and (max-width: 1200px)
{
  .container-one .item
  {
    width: 150px !important;
    height: 150px !important;
  }
}

@media (max-width: 990px)
{
  html, body {
  overflow: hidden !important;
  }
  body {
    position: relative !important;
  }

  .mobburger
  {
    display: block;
    z-index: 200;
  }

  .container-one .item
  {
    width: 130px !important;
    height: 130px !important;
  }

  .chains
  {
    left: 20px !important;
  }

  .container-one .mylogo
  {
    left: 50px;
  }

  .container-one .mylogo img
  {
    height: 135px;
    width: 135px;
  }

  .container-one .left-stripe
  {
    left: 0;
    top: 0;
    height: 100%;
  }

  .secret{display: none;}

  .container-one .links
  {
    position: absolute;
    top: 170px;
    left: 50px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 12;
  }

  .container-one .links div
  {
    font-size: 2.4em;
    line-height: 1.2em;
    color: white !important;
    text-align: left !important;
    height: 1.2em;
    padding-right: 70px !important;
    padding-left: 9px !important;
    width: auto;
    display: inline-block;
    float: left;
    clear: left;
  }

  .nums, .left-stripe, .commstatus,
  .section-title, .section-links{display: none;}

  .back-up
  {
    display: none;
  }

  .art-carousel
  {
    z-index: 30 !important;
    bottom: 25px;
  }

  .section-box-mobile{display: block;}
  .section-box{display: none;}

  .section-box-mobile
  {
    height: 100%;
    width: 100%;
  }

  .section-title-mob
  {
    font-size: 3em;
    color: white !important;
    position: absolute;
    top: 0px;
    left: 50px;
  }

  .mob-drop
  {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
  }

  .container-two img.me
  {
    left: auto;
    right: 15px;
    overflow-x: hidden;
    z-index: 100;
    height: 80%;
    top: 20%;
  }

  .back-up
  {
    z-index: 101;
  }

  .mobile-contacts
  {
    height: 100%;
    width: 100%;
  }

  .mobile-contacts div span
  {
    height: 45px;
    line-height: 45px;
    display: block;
    font-size: 2em;
    color: white !important;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
  }

  .contactlist
  {
    position: relative;
    display: none;
    width: 250px;
  }

  .contactlist a
  {
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 1.6em;
    color: white !important;
    margin-bottom: 10px;
    width: 250px;
    text-align: center;
  }

  #mobtwitter, #mobdiscord, #mobother
  {
    margin-left: calc(50% - 125px);
  }

  #mobtwitter{  position: absolute; top: 100px;}
  #mobdiscord{  position: absolute; top: 170px;}
  #mobother{ position: absolute; top: 240px;}

  .mobile-contacts div span:hover,
  .mobile-contacts div a:hover
  {
    background-color: white;
    color: #252525 !important;
  }

  #prjct1m, #prjct2m, #prjct3m
  {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 90%;
  }

  #prjct1m td, #prjct1m td, #prjct3m td
  {
    width: 100%;
    color: white !important;
    text-align: center;
    font-size: 1.6em;
  }

  #prjct1m img, #prjct2m img, #prjct3m img
  {
    width: 70%;
    left: 10%;
    height: auto;
  }

  .section-subtitle-mob
  {
    position: absolute;
    bottom: 20px;
    height: 40px;
    width: 250px;
    left: calc(50% - 125px);
    z-index: 300;
  }

  .section-subtitle-mob span
  {
    text-align: center;
    width: 180px;
    position: absolute;
    left: calc(50% - 90px);
    display: block;
    line-height: 40px;
    font-size: 2em;
    color: white !important;
  }

  .goleft, .goright
  {
    height: 80%;
    top: 10%;
    position: absolute;
  }

  .goleft:hover, .goright:hover
  {
    cursor: pointer;
  }

  .goleft
  {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 0;
  }
  .goright
  {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0;
  }

  #c2gen
  {
    position: absolute;
    top: 75px;
    left: 50px;
    text-align: center;
    font-size: 1.4em;
    color: white;
  }

  #c2edu img
  {
    width: 70%;
    margin-bottom: 20px;
  }

  #c2int span
  {
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px !important;
  }

  #c2edu2 span
  {
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }

  #c2edu2 a
  {
    margin-top: 20px;
    background-color: white;
    color: #252525;
    display: block;
    padding: 4px 12px !important;
    width: 200px;
    font-size: 19px;
  }

  #c2edu a
  {
    margin-top: 20px;
    background-color: white;
    color: #252525;
    display: block;
    padding: 4px 12px !important;
    width: 200px;
  }

  #c2edu, #c2int, #c2edu2
  {
    position: absolute;
    top: 80px;
    width: 65%;
    left: 60px;
    font-size: 1.4em;
    color: white;
    text-align: center;
  }

  #c3dis, #c3alb, #c3lg
  {
    position: absolute;
    top: 80px;
    width: 66%;
    left: 17%;
    font-size: 1.4em;
    color: white;
    text-align: center;
    height: 100%;
  }

  .dspmob
  {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 15px;
    position: absolute;
    z-index: 1000;
  }

  .dspmob  span
  {
    display: block;
    width: 100%;
    padding: 6px 0 !important;
    font-size: 1.4em !important;
    color: white;
  }

  #c3dis
  {
    height: 70%;
    display: none;
  }

  #c3lg
  {
    display: none;
  }

  .plsignore
  {
    font-size: 3em !important;
    color: white !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    opacity: 0.5;
    line-height: 60px;
  }

  .discmob
  {
    position: absolute;
    top: calc(50% - 20px);
    height: 40px;
    width: 260px;
    color: white !important;
    left: calc(50% - 130px);
    text-align: center;
    font-size: 1.3em;
    display: none;
  }

  .lightboxmob
  {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    display: none;
    z-index: 2000;
  }

  .lightboxmob .cls
  {
     position: absolute;
     top: 20px;
     right: 20px;
     padding: 5px 15px !important;
     font-size: 18px;
     background-color: white;
     color: black !important;
     display: block;
  }

  .lightboxmob img
  {
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
  }

  .dspmob img
  {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .mob-carousel
  {
    position: absolute !important;
    top: 45px;
    z-index: 11 !important;
    cursor: -webkit-grab;
    cursor: grab;
    display: block !important;
  }

  .design-title
  {
    font-size: 1em;
    height: 34px;
    line-height: 34px;
  }

  .design-subtitle
  {
    font-size: 0.7em;
  }

  .next, .prev
  {
    font-size: 0.8em;
  }

  #c3menu
  {
    color: white;
    top: 70px;
    left: 52px;
    position: absolute;
    font-size: 1.6em;
    z-index: 30;
  }

  #c3menu #c317,
  #c3menu #c316
  {
    opacity: 0.3;
  }

  #c3menu p
  {
    display: inline-block !important;
  }
}


/* END MEDIA QUERIES */
